.radioContainer ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0;
    gap: 20px;
    margin-bottom: 30px;
  }
  
  .radioContainer label {
    font-family: compagnon-medium, sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: var(--dark3);
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  /* hide default radio */
  input[type="radio"] {
    display: none;
  }
  
  .radio-circle {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 2px solid var(--dark2);
    position: relative;
    margin-right: 10px;
  }
  
  .radio-circle::before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ddd;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: all 0.2s ease-in-out;
  }
  
  .radio-button input[type="radio"]:checked + .radio-circle::before {
    transform: translate(-50%, -50%) scale(1);
    background-color: var(--dark2);
  }
  
  .radio-button:hover .radio-circle {
    border-color: var(--dark3);
  }
  
  .radio-button:hover input[type="radio"]:checked + .radio-circle::before {
    background-color: var(--dark3);
  }