@font-face {
  font-family: 'compagnon-light';
  src: url('./fonts/compagnon/Light.woff2') format('woff2'),
       url('./fonts/compagnon/Light.woff') format('woff');
  font-weight: light;
}

@font-face {
  font-family: 'compagnon-italic';
  src: url('./fonts/compagnon/Italic.woff2') format('woff2'),
       url('./fonts/compagnon/Italic.woff') format('woff');
  font-weight: italic;
}

@font-face {
  font-family: 'compagnon-roman';
  src: url('./fonts/compagnon/Roman.woff2') format('woff2'),
       url('./fonts/compagnon/Roman.woff') format('woff');
}

@font-face {
  font-family: 'compagnon-medium';
  src: url('./fonts/compagnon/Medium.woff2') format('woff2'),
       url('./fonts/compagnon/Medium.woff') format('woff');
}

@font-face {
  font-family: 'compagnon-bold';
  src: url('./fonts/compagnon/Bold.woff2') format('woff2'),
       url('./fonts/compagnon/Bold.woff') format('woff');
}


@font-face {
  font-family: 'louise';
  src: url('./fonts/louise/Louise-Regular.otf') format('woff2'),
       url('./fonts/louise/Louise-Regular.woff2') format('woff2'),
       url('./fonts/louise/Louise-Regular.woff') format('woff');
}

:root {
  --light1: #FFFDFF;
  --light2: #F4F2F5;
  --light3: #E5E2E5;
  --light4: #CCC7CD;
  --dark1: #9D9E97;
  --dark2: #7C7D76;
  --dark3: #5B5C55;
  --dark4: #31322C;
  --dark5: #181A11;
  --purple1: #F9D9FC;
  --purple2: #E9BAE4;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overscroll-behavior: none;
}

.gallery {
  background-color: var(--light2);
  padding: 10% 10%;
}

.gallery .container {
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: masonry;
  gap: 20px;
}

.galleryItem {
  background-color: var(--light1);
  border: solid 1.5px var(--dark3);
  padding: 10px;
}

.galleryItem p {
  font-family: compagnon-medium;
  font-size: 14px;
  color: var(--dark2);
}

.galleryItem img{
  width: 100%;
  height: auto;
  object-fit: cover;
}

.radioContainer ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
  gap: 20px;
  margin-bottom: 30px;
}

.radioContainer label {
  font-family: compagnon-medium, sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: var(--dark3);
  display: flex;
  align-items: center;
  cursor: pointer;
}

/* hide default radio */
input[type="radio"] {
  display: none;
}

.radio-circle {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 2px solid var(--dark2);
  position: relative;
  margin-right: 10px;
}

.radio-circle::before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: all 0.2s ease-in-out;
}

.radio-button input[type="radio"]:checked + .radio-circle::before {
  transform: translate(-50%, -50%) scale(1);
  background-color: var(--dark2);
}

.radio-button:hover .radio-circle {
  border-color: var(--dark3);
}

.radio-button:hover input[type="radio"]:checked + .radio-circle::before {
  background-color: var(--dark3);
}





/* Modal background */
.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

/* Modal content */
.modalContent {
  background-color: white;
  padding: 20px;
  /* border-radius: 8px; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Drop shadow effect */
  max-width: 80%; /* Set maximum width */
  max-height: calc(100vh - 40px); /* Set maximum height to 100% of viewport height minus padding */
  overflow-y: auto; /* Enable vertical scrolling if modal content exceeds modal height */
}

/* Image in modal */
.modalContent img {
  max-width: 100%; /* Ensure image doesn't exceed modal width */
  max-height: 80vh; /* Set maximum height to 80% of viewport height */
  display: block; /* Center the image horizontally */
  margin: 0 auto 20px; /* Center the image horizontally and add some bottom margin */
}

/* Art piece information */

.artPieceInfo h2 {
  /* font-size: 18px; */
  font-family: compagnon-medium, sans-serif;
}

.artPieceInfo P {
  color: var(--dark3);
  font-size: 18px;
  font-family: compagnon-medium, sans-serif;
  padding: 0px;
  margin: 0px;
}

/* Project link button */
.projectLinkButton {
  background-color: #007bff; /* Blue color */
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 40px;
}


/* Close button */
.modalContent button {
  margin-top: 16px;
  /* border: none;
  background-color: transparent;
  color: #333;
  cursor: pointer;
  font-size: 16px;
  padding: 8px 16px;
  margin-top: 16px; */
}